<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>Lab - 1</b></center>    
<pre>

<h1>Krish Meghapara S.</h1>
<h2>23010101164</h2>

# Introduction to Pandas Library Function:

# Step-1 Import the pandas Libraries

In [1]:
import pandas as pd

# Step-2 Import the dataset from this:....

In [3]:
import pandas as pd 

df = pd.read_csv('titanic.csv');

# Step-3 Read csv or excel File

In [ ]:
import pandas as pd 

df = pd.read_csv('titanic.csv');

# Step-4 Print Data from csv or excel File

In [4]:
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

# Step-5 See the First 10 Rows

In [8]:
print(df.head(10))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

# Step-6 See the Last 10 Rows

In [9]:
print(df.tail(10))

     PassengerId  Survived  Pclass                                      Name  \
881          882         0       3                        Markun, Mr. Johann
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q

# Step-7 Data type of each columns

In [21]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

# Step-8 Display Summary Information

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

# Step-9 Access a specific column

In [17]:
ColumnName = input('enter a specific column name : ')
print(df[ColumnName])

enter a specific column name :  Age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

# Step-10 Access rows by their integer location

In [27]:
RowName = int(input(' enter a specific row Number  : '))
print(df.iloc[RowName])

 enter a specific row Number  :  5

PassengerId                   6
Survived                      0
Pclass                        3
Name           Moran, Mr. James
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   330877
Fare                     8.4583
Cabin                       NaN
Embarked                      Q
Name: 5, dtype: object

# Step-11 Delete a specific Column

In [26]:
ColumnName = input('enter a specific column name : ')
print(df.drop(ColumnName,axis=1,))
# print(df.drop(ColumnName,axis=1,inplace=True)) // make changes to origial DataFrame ..

enter a specific column name :  Cabin

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Embarked
0        0         A/5 21171   7.2500        S
1        0          PC 17599  71.2833        C
2        0  STON/O2. 3101282   7.9250        S
3        0            113803  53.1000        S
4        0            373450   8.0500        S
..     ...               ...      ...      ...
886      0            211536  13.0000        S
887      0            112053  30.0000        S
888      2        W./C. 6607  23.4500        S
889      0            111369  30.0000        C
890      0            370376   7.7500        Q

[891 rows x 11 columns]

# Step-12  Create a new Column

In [29]:
df['Childs'] = 10

print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked  Childs
0        0         A/5 21171   7.2500   NaN        S      10
1        0          PC 17599  71.2833   C85        C      10
2        0  STON/O2. 3101282   7.9250   NaN        S      10
3        0            113803  53.1000  C123        S      10
4        0            373450   8.0500   NaN        S      10
..     ...               ...      ...   ...      ...     ...
886      0            211536  13.0000   NaN        S      10
887      0            112053  30.0000   B42        S      10
888      2        W./C. 6607  23.4500   NaN        S      10
889      0            111369  30.0000  C148        C      10
890      0            370376   7.7500   NaN        Q      10

[891 rows x 13 columns]

# Step-13  Perform Condition Selection on DataFrame

In [31]:
print(df[df['Age'] < 20])

     PassengerId  Survived  Pclass                                  Name  \
7              8         0       3        Palsson, Master. Gosta Leonard
9             10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10            11         1       3       Sandstrom, Miss. Marguerite Rut
14            15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
16            17         0       3                  Rice, Master. Eugene
..           ...       ...     ...                                   ...
855          856         1       3            Aks, Mrs. Sam (Leah Rosen)
869          870         1       3       Johnson, Master. Harold Theodor
875          876         1       3      Najib, Miss. Adele Kiamie "Jane"
877          878         0       3                  Petroff, Mr. Nedelio
887          888         1       1          Graham, Miss. Margaret Edith

        Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked  Childs
7      male   2.0      3      1   349909  21.0750   NaN        S      10
9    female  14.0      1      0   237736  30.0708   NaN        C      10
10   female   4.0      1      1  PP 9549  16.7000    G6        S      10
14   female  14.0      0      0   350406   7.8542   NaN        S      10
16     male   2.0      4      1   382652  29.1250   NaN        Q      10
..      ...   ...    ...    ...      ...      ...   ...      ...     ...
855  female  18.0      0      1   392091   9.3500   NaN        S      10
869    male   4.0      1      1   347742  11.1333   NaN        S      10
875  female  15.0      0      0     2667   7.2250   NaN        C      10
877    male  19.0      0      0   349212   7.8958   NaN        S      10
887  female  19.0      0      0   112053  30.0000   B42        S      10

[164 rows x 13 columns]

# Step-14 Compute the sum of value

In [34]:
print("Sum value for Fare")
print(df['Fare'].sum())

Sum value for Fare
28693.9493

# Step-15 Compute the mean of value

In [35]:
print("Mean value for Fare")
print(df['Fare'].mean())

Mean value for Fare
32.204207968574636

# Step-16 Count non-null value (column)

In [38]:
print("Count of Cabin Non-Null value")
print(df['Cabin'].count())

Count of Cabin Non-Null value
204

# Step-17 Find Minimun or Maximum values

In [36]:
print("Max value for Fare")
print(df['Fare'].max())
print("Min value for Fare")
print(df['Fare'].min())

Max value for Fare
512.3292
Min value for Fare
0.0